# GitHub fork of python-chargepoint (needed for for script)
git+https://github.com/dacarson/python-chargepoint.git#egg=python-chargepoint

# InfluxDB client for InfluxDB 1.x
influxdb>=5.3.1
# WebSocket client for WebSocketApp functionality
websocket-client>=1.6.0
