[Unit]
Description=Solar Smart Charge Controller for ChargePoint
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/ChargePoint-SunPower-ChargeManager
ExecStart=/home/pi/ChargePoint-SunPower-ChargeManager/venv/bin/python solar_charge_controller.py \
    --email your@email.com \
    --password yourpassword \
    --prometheus-url http://localhost:9090 \
    --control-interval 5 \
    --log-file /home/pi/ChargePoint-SunPower-ChargeManager/solar_charge_controller.log \
    --quiet
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

